.link {
	display: inline-flex;
	flex-direction: column;
	color: var(--codely-blue);
	font-size: 1rem;
	font-weight: 400;
	white-space: nowrap;

	&::after {
		height: 0;
		overflow: hidden;
		font-weight: 700;
		visibility: hidden;
		content: attr(data-label);
	}

	&:hover {
		text-decoration: underline;
	}
}

.active {
	font-weight: 700;
}
